.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #39588a;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #34eede;
}

p {
  font-size: 2rem;
  color: #ebee34;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
  /* margin-top: 5%; */
  padding: 12px 40px;
  background-color: #34eede;
  font-family: 'Lobster', cursive;
  font-size: 2.6rem;
  border-radius: 15px;
  border-style: none;
  box-shadow: 5px 0 #232931;
  margin: 20px auto;
  display: block;
}
